.container img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.foto {
  width: 200px;
}

.card-itens {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(226, 195, 195);
  width: 25%;
}
