* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(202, 195, 241);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color:black ;
}

.left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo {
    height: 48px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.menu a:hover {
    color:white;
}

.right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.search {
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    outline: none;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}